[submodule "vendor/activerecord"]
	path = vendor/activerecord
	url = git@github.com:kla/php-activerecord.git
[submodule "vendor/password_compat"]
	path = vendor/password_compat
	url = git@github.com:ircmaxell/password_compat.git
[submodule "vendor/mustache"]
	path = vendor/mustache
	url = git@github.com:bobthecow/mustache.php.git
[submodule "vendor/twilio"]
	path = vendor/twilio
	url = git@github.com:twilio/twilio-php.git
[submodule "vendor/mailer"]
	path = vendor/mailer
	url = git@github.com:Synchro/PHPMailer.git
[submodule "vendor/markdown"]
	path = vendor/markdown
	url = git@github.com:michelf/php-markdown.git
[submodule "vendor/stripe"]
	path = vendor/stripe
	url = git@github.com:stripe/stripe-php.git
[submodule "vendor/yahoo_finance"]
	path = vendor/yahoo_finance
	url = git://github.com/aygee/yahoo-finance-api
[submodule "vendor/facebook"]
	path = vendor/facebook
	url = git@github.com:facebook/facebook-php-sdk.git
[submodule "vendor/faker"]
	path = vendor/faker
	url = git@github.com:fzaninotto/Faker.git
[submodule "vendor/email_templates"]
	path = vendor/email_templates
	url = git@github.com:mailchimp/email-blueprints.git
[submodule "vendor/diff"]
	path = vendor/diff
	url = git@github.com:chrisboulton/php-diff.git
[submodule "vendor/ansi-to-html"]
	path = vendor/ansi-to-html
	url = https://github.com/sensiolabs/ansi-to-html
