[submodule "vendor/activerecord"]
	path = vendor/activerecord
	url = git@github.com:kla/php-activerecord.git
[submodule "vendor/password_compat"]
	path = vendor/password_compat
	url = git@github.com:ircmaxell/password_compat.git
[submodule "vendor/mustache"]
	path = vendor/mustache
	url = git@github.com:bobthecow/mustache.php.git
[submodule "vendor/twilio"]
	path = vendor/twilio
	url = git@github.com:twilio/twilio-php.git
[submodule "vendor/mailer"]
	path = vendor/mailer
	url = git@github.com:Synchro/PHPMailer.git
[submodule "vendor/markdown"]
	path = vendor/markdown
	url = git@github.com:michelf/php-markdown.git
[submodule "vendor/stripe"]
	path = vendor/stripe
	url = git@github.com:stripe/stripe-php.git
[submodule "vendor/yahoo_finance"]
	path = vendor/yahoo_finance
	url = git://github.com/aygee/yahoo-finance-api
[submodule "vendor/faker"]
	path = vendor/faker
	url = git@github.com:fzaninotto/Faker.git
[submodule "vendor/email_templates"]
	path = vendor/email_templates
	url = git@github.com:mailchimp/email-blueprints.git
[submodule "vendor/ansi-to-html"]
	path = vendor/ansi-to-html
	url = https://github.com/sensiolabs/ansi-to-html
[submodule "vendor/multicurl"]
	path = vendor/multicurl
	url = git@github.com:jmathai/php-multi-curl.git
[submodule "vendor/webdriver"]
	path = vendor/webdriver
	url = git@github.com:Element-34/php-webdriver.git
[submodule "vendor/codemirror"]
	path = vendor/codemirror
	url = http://marijnhaverbeke.nl/git/codemirror
[submodule "vendor/filterus"]
	path = vendor/filterus
	url = git@github.com:ircmaxell/filterus.git
[submodule "vendor/mobile_detect"]
	path = vendor/mobile_detect
	url = git@github.com:serbanghita/Mobile-Detect.git
[submodule "vendor/color"]
	path = vendor/color
	url = git@github.com:mexitek/phpColors.git
[submodule "vendor/html_inline"]
	path = vendor/html_inline
	url = https://github.com/christiaan/InlineStyle
[submodule "vendor/clipclop"]
	path = vendor/clipclop
	url = https://github.com/pete-otaqui/ClipClop.git
