[submodule "vendor/activerecord"]
	path = vendor/activerecord
	url = git@github.com:kla/php-activerecord.git
[submodule "vendor/password_compat"]
	path = vendor/password_compat
	url = git@github.com:ircmaxell/password_compat.git
[submodule "vendor/mustache"]
	path = vendor/mustache
	url = git@github.com:bobthecow/mustache.php.git
