$base: 940px;
$sidebar_a_width: 200px;
$sidebar_b_width: 250px;
$gutter: 25px;
$dir: left;
$dir_op: right;



@mixin clearf {
	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
	*zoom: 1;
}
@mixin margin($d, $dist:0) {
	@if $d == left {
		margin-left: $dist;	
	} @else {
		margin-right: $dist;
	}
}
@mixin padding($d, $dist:0) {
	@if $d == left {
		padding-left: $dist;	
	} @else {
		padding-right: $dist;
	}
}

#main, .no-sidebars #main {
	_display:inline;
	float: $dir; // LTR
	width: $base;
	@include margin($dir, 0);
	@include margin($dir_op, (-($base)));
	padding: 0;
}
#main {
	.sidebar-first & {
		width: $base - $sidebar_a_width;
		@include margin($dir, $sidebar_a_width);
		@include margin($dir_op, -$base); 
	}
	.sidebar-second & {
		width: $base - $sidebar_b_width;
		@include margin($dir, 0);
		@include margin($dir_op, (-($base - $sidebar_b_width)));
	}
	.two-sidebars & {
		width: $base - $sidebar_a_width - $sidebar_b_width;
		@include margin($dir, $sidebar_a_width);
		@include margin($dir_op, (-(($base - $sidebar_a_width - $sidebar_b_width) + $sidebar_a_width)));
	}
}

// Sidebar A
#sidebar-a {
	_display:inline;
	float: $dir; /* LTR */
	width: $sidebar_a_width;
	@include margin($dir_op, 0);
	@include margin($dir, (-($sidebar_a_width)));
	padding: 0;
	.no-sidebars &,
	.sidebar-second & { display: none; }
}

// Sidebar B
#sidebar-b {
	_display:inline;
	float: $dir; /* LTR */
	width: $sidebar_b_width;
	@include margin($dir, $base - $sidebar_b_width);
	@include margin($dir_op, (-($sidebar_b_width + ($base - $sidebar_b_width))));
	padding: 0;
	.two-sidebars & {
		@include margin($dir, $base - $sidebar_b_width - $sidebar_a_width);	
	}
	.no-sidebars &,
	.sidebar-first & { display: none; }
}

.contain {
	margin: 0 auto;	
	text-align: center;
	width: $base;
	@include clearf;
}

#main, #header, #sidebar-a, #sidebar-b, #footer {
	@include clearf;
	position:relative;
	text-align:$dir;
}
#main-outer {
	.contain {
		position: relative;
		_padding:0 1px;
	}
	padding-top:0;
	padding-bottom:$gutter;
}

@media handheld, only screen and (max-width: 767px) {
	.contain,
	#main {
		width: auto !important;
		margin: 0 auto !important;
	}
	#sidebar-a, #sidebar-b {
		float: none;
		clear: both;
		margin: 0 auto;
	}
}
