@import 'compass';
@import 'bootstrap/_bootstrap';
html {
	-webkit-tap-highlight-color: rgba(255, 255, 255, .1);
}

.alpha-container {
	margin-top: 40px;
}

.row .inner {
	border: 1px solid #ccc;	
	padding:40px 0 20px;
	background-color: #eee;
	text-align: center;
}

legend {
	margin-bottom: 0;
}

.media {
	margin-top: 0;
	margin-bottom: 20px;
}

.word-wrap {
	word-wrap: break-word;
}

.media .pull-right.label {
	display: inline;
	float: right;
}
.label-full {
	width: 100%;
	text-align: center;
}

.last {
	margin-bottom: 0;
	.form-actions {
		.well & {
			padding-bottom: 5px;
			padding-left: 0;
			padding-right: 0;
		}
		margin-bottom: 0;	
	}
}

// Authentication Main
.authentication.main {
	.type-login {
		.join-span h2 { color: #bbb; }			
	}
	.type-join {
		.login-span h2 { color: #bbb; }			
	}
	.or {
		text-align: center;	
		font-size: 2em;
		margin-top: 155px;
		color: #ddd;
	}
}

.nav-output-style {
	margin: 15px 0 10px;
}

.scrolling {
	overflow: auto;	
	max-height: 400px;
}

.alert-plain {
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
}

#git-status-modified {
	$bg: #073642;
	.git-file {
		cursor: pointer;
	}
	.popover-content {
		background-color: $bg;
		font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
		font-size:.8em;
		overflow: scroll;
		max-height: 320px;
		white-space: nowrap;
	}
	.popover {
		/*background-color: lighten($bg, 20%);*/
	}
	/*.popover.bottom .arrow:after {*/
		/*border-bottom-color: $bg;*/
	/*}*/
}
