// Bootstrap variable overrides
// http://twitter.github.io/bootstrap/customize.html
$bodyBackground: #f8f8f8;
$textColor: #666;
$linkColor: green;
$linkColorHover: darken(green, 20%);

// Bootstrap includes
@import 'compass';
@import 'compass_twitter_bootstrap';
@import 'compass_twitter_bootstrap_responsive';

// All yours!
.input-block-level {
	display: block;
	width: 100%;
	min-height: 28px;
	@include box-sizing(border-box);
}
.row .inner {
	border: 1px solid #ccc;	
	padding:40px 0 20px;
	background-color: #eee;
	text-align: center;
}

legend {
	margin-bottom: 0;
}

.media {
	margin-top: 10px;
}

.word-wrap {
	word-wrap: break-word;
}

.media .pull-right.label {
	display: inline;
	float: right;
}

.last {
	margin-bottom: 0;
	.form-actions {
		.well & {
			padding-bottom: 5px;
			padding-left: 0;
			padding-right: 0;
		}
		margin-bottom: 0;	
	}
}

// Authentication Main
.authentication.main {
	.type-login {
		.join-span h2 { color: #bbb; }			
	}
	.type-join {
		.login-span h2 { color: #bbb; }			
	}
	.or {
		text-align: center;	
		font-size: 2em;
		margin-top: 155px;
		color: #ddd;
	}
}

.nav-output-style {
	margin: 15px 0 10px;
}

.scrolling {
	overflow: auto;	
	max-height: 400px;
}
/*	
.pagination {
	span,
	a { min-width: 30px; text-align:center; }
}
*/
