@import 'compass';
@import 'bootstrap/_bootstrap';
@import 'animation';
html {
	-webkit-tap-highlight-color: rgba(255, 255, 255, .1);
}


.alpha-container {
	margin-top: 40px;
}
.main-alert {
	margin-top: 60px;
	margin-bottom: -40px;
}

.row .inner {
	border: 1px solid #ccc;	
	padding:40px 0 20px;
	background-color: #eee;
	text-align: center;
}

legend {
	margin-bottom: 0;
}

.media {
	margin-top: 0;
	margin-bottom: 20px;
}

.word-wrap {
	word-wrap: break-word;
}

.media .pull-right.label {
	display: inline;
	float: right;
}
.label-full {
	width: 100%;
	text-align: center;
}

.last {
	margin-bottom: 0;
	.form-actions {
		.well & {
			padding-bottom: 5px;
			padding-left: 0;
			padding-right: 0;
		}
		margin-bottom: 0;	
	}
}

// Authentication Main
.authentication.main {
	.type-login {
		.join-span h2 { color: #bbb; }			
	}
	.type-join {
		.login-span h2 { color: #bbb; }			
	}
	.or {
		text-align: center;	
		font-size: 2em;
		margin-top: 155px;
		color: #ddd;
	}
}

.nav-output-style {
	margin: 15px 0 10px;
}

.scrolling {
	overflow: auto;	
	max-height: 400px;
}

.alert-plain {
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
}

#git-status-modified {
	$bg: #073642;
	.git-file {
		cursor: pointer;
	}
	.popover-content {
		background-color: $bg;
		font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
		font-size:.8em;
		overflow: scroll;
		max-height: 320px;
		white-space: nowrap;
	}
	.popover {
		/*background-color: lighten($bg, 20%);*/
	}
	/*.popover.bottom .arrow:after {*/
		/*border-bottom-color: $bg;*/
	/*}*/
}

.actions {
	.btn {
		margin-left: 3px;
	}
}

.form-horizontal {
	label {
		display: inline-block;
		margin-right: 5px;
	}
	input {
		margin-right: 5px;
	}
}

// FILE UPLOAD
.btn-file {
	overflow: hidden;
	position: relative;
	vertical-align: middle;
	input {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		transform: translate(-300px, 0) scale(4);
		font-size: 23px;
		direction: ltr;
		cursor: pointer;
		@include opacity(0);
	}
}

img.unveilable {
	background-color: #000;
	@include opacity(0);
	@include transition(opacity .2s ease-in-out);
	&.unveiled {
		@include opacity(1);
	}
}
.fileupload {
	margin-bottom: 9px;
	.uneditable-input {
		display: inline-block;
		margin-bottom: 0px;
		vertical-align: middle;
		cursor: text;
	}
	.thumbnail {
		overflow: hidden;
		display: inline-block;
		margin-bottom: 5px;
		vertical-align: middle;
		text-align: center;
		img {
			display: inline-block;
			vertical-align: middle;
			max-height: 100%;
		}
	}
	.btn {
		vertical-align: middle;
	}
}
.fileupload-exists .fileupload-new,
.fileupload-new .fileupload-exists {
	display: none;
}
.fileupload-inline .fileupload-controls {
	display: inline;
}
.fileupload-new .input-append .btn-file {
	@include border-radius(0 3px 3px 0);
}
.thumbnail-borderless .thumbnail {
	border: none;
	padding: 0;
	@include border-radius(0);
	@include box-shadow(none);
}
.fileupload-new.thumbnail-borderless .thumbnail {
	border: 1px solid #ddd;
}
.control-group.warning .fileupload {
	.uneditable-input {
		color: #a47e3c;
		border-color: #a47e3c;
	}
	.fileupload-preview {
		color: #a47e3c;
	}
	.thumbnail {
		border-color: #a47e3c;
	}
}
.control-group.error .fileupload {
	.uneditable-input {
		color: #b94a48;
		border-color: #b94a48;
	}
	.fileupload-preview {
		color: #b94a48;
	}
	.thumbnail {
		border-color: #b94a48;
	}
}
.control-group.success .fileupload {
	.uneditable-input {
		color: #468847;
		border-color: #468847;
	}
	.fileupload-preview {
		color: #468847;
	}
	.thumbnail {
		border-color: #468847;
	}
}
@include keyframes(fadeText) {
	from { color: #444; }
	to { color: auto; }
}
.rainbow {
	white-space: pre;
	span {
		@include animation(fadeText 1s ease);
	}
}
